@inherits LayoutComponentBase

<div class="page">
    <header class="main-nav">
        <NavMenu />
    </header>

    <main class="main-shell">
        <article class="content">
            @Body
        </article>
    </main>
</div>
